body {
  font-family: 'Playfair Display', serif;
  background-color: #eeefdc;
}

p {
  display: inline-block;
  font-size: .9em;
}

footer {
  background-color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

button{
  background: lightgray;
  border: none;
  border-radius: 2px;
  padding: 2%;
  margin: 1%;
  font-size: .9em;
}

button:hover{
  background:grey;
  color:white;
  font-weight:bold;
}


form {
  text-align: center;
  padding: 2%;
  width: 100%
  margin: 0 auto;
}

.warn {
  color: red;
  font-style:italic;
  clear: both;
  display:block;
}

.result {
  background-color: #ededed;
  border-radius: 2px;
  text-align: center
}

.result a {
  font-weight: bold;
}

.result p {
  font-size: .8em;
}

#contentbox {
  margin: 0 auto;
  max-width: 800px;
  width: 75%;
  text-align: center;
  background-color: white;
  padding: 1%;
}

#randbox {
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 400px) {
  p {
    font-size: 1.5em;
  }
  button {
    font-size:1.0em;
  }
}
@media (min-width: 600px) {
  p {
    font-size: 2em;
  }
  button{
    font-size: 1.25em;
  }
}
